################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EuropeanCankerDetection.pyproj.user
/env
/.vs
/data
/outputs
/hydra_test.py